<div id="container">
  <img id="photo" src="https://s.gravatar.com/avatar/5d8668619318cfbc9b00ac712475ce2d?s=80" class="animated zoomInLeft"/>
  <span id="name">{{name}}</span>
  <span id="bio">{{title}}</span>
  <div id="links" class="animated rubberBand delay1s">
    <a href="https://twitter.com/ashilman999" id="twitter" class="grow social fa fa-twitter" target="_blank"></a>
    <a href="https://keybase.io/alexshilman" id="keybase" class="grow social fa fa-key" target="_blank"></a>
    <a href="https://github.com/Alex-Shilman" id="github" class="grow social fa fa-code-fork" target="_blank"></a>
    <a href="https://medium.com/@ashilman999" id="medium" class="grow social fa fa-medium" target="_blank"></a>
    <a href="https://www.linkedin.com/in/alex-shilman-57188546" id="linkedin" class="grow social fa fa-linkedin" target="_blank"></a>
    <a href="https://spamty.eu/mail/v4/1438/RFekMCaJNk6bc737a6/" id="email" class="grow social fa fa-envelope-o" onclick="window.open('https://spamty.eu/mail/v4/1438/RFekMCaJNk6bc737a6/' , '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=650' ); return false;" target="_blank"></a>
  </div>
  <p class="animated fadeInUp delay2s">I continue to learn new technologies. The vast majority of my personal learnings may have no direct correlation to the actual work that I do on the daily basis. But I do it because I have a passion for what I do. I simply want to be the best I can be. Therefore staying on top of the tech trends is a must.</p>
</div>
